---
title: 'Decal'
date: '2016/20/8'
template: 'decal.jade'
active: 'decal'
---

div.ticker
  div.container
    div.row
      |  Introduction to Cryptocurrency DeCal
      // a(href="https://www.facebook.com/events/896078403824156/")
      //   | Project Meeting (3/18)
      // | this week!

div.mission
  div.container.content
    h4 Overview
    div.row
      div.six.columns
        h5 About
        p The Cryptocurrency Decal is a comprehensive survey of relevant topics in cryptocurrency and the wider blockchain space. From a technological standpoint, we start with the basics of cryptography and economics, establish a solid fundamental understanding of Bitcoin by building it from the bottom up, and from there, explore the myriad of ideas and technologies relating to blockchain technology. On the non-technical side, we start with the history of digital currency, then look at the laws, organizations, trends, and communities behind it to build a complete picture of the ecosystem surrounding blockchain technology.
      div.six.columns
        h5 Goal
        p Many people find it difficult to understand cryptocurrency because it require the coordination of many components for it to function, and it's hard to see the full picture until all the individual components are fully understood. Furthermore, since the field is very technical and relatively new, cryptocurrency-related discussion by nature is full of jargon. Therefore, it is easy to get lost trying to follow nearly any conversation on cryptocurrency if you have not built up the right background. The goal of this course is to surmount the steep learning curve of cryptocurrency. By the end of this course you will understand how cryptocurrencies work and the ideas, technologies, and organizations sprouting from it.

div.logistics
  div.container.content
    h4 Logistics
    p
      strong Units: 
      | 1 
      br 

      strong Day and Time: 
      | Wed 7-8pm
      br 

      strong Location: 
      | 310 Soda Hall
      br

      strong Class Format: 
      | 1 hour a week. 30-45 minutes of the class will be lecture, and the rest will be dedicated to questions, discussion, and announcements.
      br 

      strong Communication: 
      | All of the necessary communication for this course will be done through email. Weekly homework prompts will be distributed shortly after class, along with the lecture slides. We will also have an optional Facebook group to allow for further questions and discussion.
      br

      strong Prerequisites: 
      | This course have no formal prerequisites. However, cryptocurrency is very technical in nature, so coming into this course with knowledge of computer science or cryptography will be extremely helpful, although not required. To do well - we recommend having already taken or taking CS61A concurrently. If you have any concerns about the nature of this course, do not hesitate to reach out to the facilitators.

div.grading
  div.container.content
    h4 Grading
    p
      strong Grading: 
      | P/NP. You must get at least a 75% to pass the class. Grading will be based on Homework and Quizzes (30%), Attendance (60%), and Participation (10%). There will also be assigned readings each week. If you have any questions regarding our grading, feel free to bring it up in class. 
      br 

      strong Homework and Quizzes (30%):
      |  There will be EITHER homework or a quiz on each week's topic, depending on which format is more appropriate, and never both. Homework and quizzes are weighted equally, and each one will be counted as either full credit or no credit.
      br
      | Homework: The homework format is a half to one-page typed (double spaced, Times New Roman, 12 point font) writing assignment, with prompts emailed shortly after class. These assignments are designed to give you some hands-on exposure to the topics we just covered in class. They are straightforward and should not take much longer than an hour. Assignments on the previous week's topic are due at the beginning of class, and may be turned in as a hard copy or emailed to facilitators. You are allowed to miss one homework assignment without having it affect your grade.
      br

      | Quizzes: Quizzes are intended to be a quick, easy screen designed for you to demonstrate that you completed your readings for the current week's topic. They will be in the form of 5 multiple choice questions and administered in the first 5 minutes of class. You must get 3 of the 5 questions correct to receive credit for the quiz.
      br 

      strong Attendance (60%): 
      | We will take attendance at the beginning of every class. You are allowed to miss one class without having it affect your grade. If you are expecting an academic conflict such as a midterm, please let your facilitator know at least 24 hours in advance, and we will work out an alternative assignment with you.
      br 

      strong Participation (10%): 
      | If you actively pay attention and occasionally ask questions/ contribute to discussion, you can expect a full score. Don't stress out over this.

div.schedule
  div.container.content
    h4 Schedule
    div.row
      div.four.columns
        h5 Week of 
      div.four.columns
        h5 Topic
      div.four.columns
        h5 Readings

    div.row
      div.four.columns
        p 8/29
      div.four.columns
        p Bitcoin History: From the Cypherpunk Movement to JPMorgan Chase
      div.four.columns
        p (Princeton) Foreword - The Long Road to Bitcoin

    div.row
      div.four.columns
        p 9/5
      div.four.columns
        p Building Bitcoin from the Ground Up: A High Level Overview
      div.four.columns
        a(href='https://www.youtube.com/watch?v=l9jOJk30eQs') (YouTube video) How Bitcoin Works in 5 Minutes 

    div.row
      div.four.columns
        p 9/12
      div.four.columns
        Bitcoin UX
      div.four.columns
        a(href='https://bitcoin.org/bitcoin.pdf') (Princeton) Chapter 1 Satoshi Nakamoto's original white paper

    div.row
      div.four.columns
        p 9/19
      div.four.columns
        p Cryptocurrency and Blockchain
      div.four.columns
        p (Mastering Bitcoin) Chapter 8

    div.row
      div.four.columns
        p 9/26
      div.four.columns
        p Mining
      div.four.columns
        a(href='https://blog.ethereum.org/2014/07/05/stake/') On Stake
        br 
        a(href='https://blog.ethereum.org/2014/11/25/proof-stake-learned-love-weak-subjectivity/') Proof of Stake: How I Learned to Love Weak Subjectivity 

    div.row
      div.four.columns
        p 10/3
      div.four.columns
        p Blockchain for Banks: Permissioned Ledgers and Alternative Consensus
      div.four.columns
        p (Princeton) Chapter 4
        | (Mastering Bitcoin) Chapter 10

    div.row
      div.four.columns
        p 10/10
      div.four.columns
        p Economics, Game Theory, and Attacks
      div.four.columns
        p (Princeton) Chapter 7

    div.row
      div.four.columns
        p 10/17
      div.four.columns
        p Ethereum + Economics Experiments
      div.four.columns
        a(href='https://github.com/ethereum/wiki/wiki/White-Paper') Ethereum white paper

    div.row
      div.four.columns
        p 10/24
      div.four.columns
        p Bitcoin Politics, Community, and Regulation
      div.four.columns
        p (Princeton) Foreword - The Long Road to Bitcoin

    div.row
      div.four.columns
        p 10/31
      div.four.columns
        The Fight for Privacy: Anonymization Techniques, Protocols, and Altcoins
      div.four.columns
        p (Princeton) Chapter 6

    div.row
      div.four.columns
        p 11/7
      div.four.columns
        p Scalability
      div.four.columns
        a(href='https://www.youtube.com/watch?v=8zVzw912wPo') (YouTube video, ~50 minutes) SF Bitcoin Devs: Scaling Bitcoin to Billions of Transactions Per Day

    div.row
      div.four.columns
        p 11/14
      div.four.columns
        p Advanced Topics in Cryptography
      div.four.columns
        a(href='https://blog.ethereum.org/2015/08/07/on-public-and-private-blockchains/') (Princeton) On Public and Private Blockchains

    div.row
      div.four.columns
        p 11/21
      div.four.columns
        p Conclusion: Venture Capital, Cool Ideas, and the Future
      div.four.columns
        p --- 

div.signup
  .container
      a(href=' https://goo.gl/forms/tSHU3RgK06H8OMnF3') <h5> <font color='white'> Interested? Click <strong>here</strong> to sign up now! </font></h5>
      

