---
title: 'Decal'
date: '2016/20/8'
template: 'decal.jade'
active: 'decal'
---

div.ticker
  div.container
    div.row
      | Join our Slack! berkeleyblockchain.slack.com 

div.mission
  div.container.content
    h4 Overview
    div.row
      div.six.columns
        h5 About
        p The Cryptocurrency Decal is a comprehensive survey of relevant topics in cryptocurrency and the wider blockchain space. From a technological standpoint, we start with the basics of cryptography and economics, establish a solid fundamental understanding of Bitcoin by building it from the bottom up, and from there, explore the myriad of ideas and technologies relating to blockchain technology. On the non-technical side, we start with the history of digital currency, then look at the laws, organizations, trends, and communities behind it to build a complete picture of the ecosystem surrounding blockchain technology.
      div.six.columns
        h5 Goal
        p Many people find it difficult to understand cryptocurrency because cryptocurrencies require the coordination of many components for it to function, and it's hard to see the full picture until all the individual components are fully understood. Furthermore, since the field is very technical and relatively new, cryptocurrency-related discussion by nature is full of jargon. Therefore, it is easy to get lost trying to follow nearly any conversation on cryptocurrency if you have not built up the right background.
        p Therefore, the goal of this course is to surmount the steep learning curve of cryptocurrency. By the end of this course you will understand how cryptocurrencies work and the ideas, technologies, and organizations sprouting from it.

div.logistics
  div.container.content
    h4 Logistics
    p
      strong Units: 
      | 1 
      br 

      strong Day and Time: 
      | Section 1: Wed 4-5pm, Section 2: Wed 7-8pm
      br 

      strong Location: 
      | 310 Soda Hall
      br

      strong Course Staff: 
      | Max Fang, Philip Hayes, Sunny Aggarwal
      br

      strong Class Format: 
      | 1 hour a week. 30-45 minutes of the class will be lecture, and the rest will be dedicated to questions, discussion, and announcements.
      br 

      strong Communication: 
      | All of the necessary communication for this course will be done through email. Weekly homework prompts will be distributed shortly after class, along with the lecture slides. We will also have an optional Facebook group to allow for further questions and discussion.
      br

      strong Prerequisites: 
      | This course have no formal prerequisites. However, cryptocurrency is very technical in nature, so coming into this course with knowledge of computer science or cryptography will be extremely helpful, although not required. To do well - we recommend having already taken or taking CS61A concurrently. If you have any concerns about the nature of this course, do not hesitate to reach out to the facilitators.

div.grading
  div.container.content
    h4 Grading
    p
      strong Grading: 
      | P/NP. You must get at least a 75% to pass the class. Grading will be based on Homework and Quizzes (40%), Attendance (50%), and Participation (10%). There will also be assigned readings each week. If you have any questions regarding our grading, feel free to bring it up in class. 
      br 

      strong Homework and Quizzes (40%):
      |  There will be EITHER homework or a quiz on each week's topic, depending on which format is more appropriate, and never both. Homework and quizzes are weighted equally, and each one will be counted as either full credit or no credit.
      br
      | Homework: The homework format is a half to one-page typed (double spaced, Times New Roman, 12 point font) writing assignment, with prompts emailed shortly after class. These assignments are designed to give you some hands-on exposure to the topics we just covered in class. They are straightforward and should not take much longer than an hour. Assignments on the previous week's topic are due at the beginning of class, and may be turned in as a hard copy or emailed to facilitators. You are allowed to miss one homework assignment without having it affect your grade.
      br

      | Quizzes: Quizzes are intended to be a quick, easy screen designed for you to demonstrate that you completed your readings for the current week's topic. They will be in the form of 5 multiple choice questions and administered in the first 5 minutes of class. You must get 3 of the 5 questions correct to receive credit for the quiz.
      br 

      strong Attendance (50%): 
      | We will take attendance at the beginning of every class. You are allowed to miss one class without having it affect your grade. If you are expecting an academic conflict such as a midterm, please let your facilitator know at least 24 hours in advance, and we will work out an alternative assignment with you.
      br 

      strong Participation (10%): 
      | If you actively pay attention and occasionally ask questions/ contribute to discussion, you can expect a full score. Don't stress out over this.
      br

      strong You may find full details in our syllabus
      a(href="https://docs.google.com/document/d/1oVpxVARDIGAiYEQZnE5HAuefmXTeVuICffTMbc96Pbs/edit?usp=sharing").
        here.

div.schedule
  div.container.content
    h4 Schedule
    div.row.odd
      div.one.columns
        h6 Week
      div.three.columns
        h6 Topic
      div.four.columns
        h6 Readings
      div.four.columns
        h6 Homework

    div.row
      div.one.columns
        p 8/29
      div.three.columns
        p
          Bitcoin History: From the Cypherpunk Movement to JPMorgan Chase
          br
          | [
          a(href="https://youtu.be/apYieuvnUaE").
            LEC, 
          a(href="https://drive.google.com/open?id=1vjjjteLmI7rVDBmjRoIhf14A-kAyCb2QwU5TGrw6ogw").
            PPT
          | ]
      div.four.columns
        p ---
      div.four.columns
        p Join the 
          a(href="https://www.facebook.com/groups/CryptoDecalFall16").
            Facebook Group

    div.row.odd
      div.one.columns
        p 9/5
      div.three.columns
        p
          Bitcoin Protocol and Consensus: A High Level Overview
          br
          | [
          a(href="https://youtu.be/epYn2uxuWEI").
              LEC, 
          a(href="https://drive.google.com/open?id=1FLVKRvljqmMBPSoceltq2mbe8yJ5D4IxYvI3NVL4ISY").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a(href="https://www.youtube.com/watch?v=l9jOJk30eQs").
              How Bitcoin Works in 5 minutes (Video)
          li
            a(href="https://bitcoin.org/en/developer-guide").
              Bitcoin Developer Guide 
            | (up to but not including "P2PKH Script Validation")
          li
            | (Optional) 
            a(href="https://willyreport.wordpress.com/2014/05/25/the-willy-report-proof-of-massive-fraudulent-trading-activity-at-mt-gox-and-how-it-has-affected-the-price-of-bitcoin/").
              The Willy Report 
          li
            | (Optional) 
            a(href="http://www.theverge.com/2015/6/10/8751933/the-shy-college-student-who-helped-build-bitcoin-into-a-global").
              Excerpt from Digital Gold on early Bitcoin development 
          li
            | (Optional) 
            a(href="https://www.wired.com/2015/04/silk-road-1/").
              The Silk Road: Deep Dive 
      div.four.columns
        p ---

    div.row
      div.one.columns
        p 9/12
      div.three.columns
        p Bitcoin UX: How to Use Bitcoin
          br
          | [
          a(href="https://www.youtube.com/watch?v=oPi4lVPOJ1g").
            LEC, 
          a(href="https://drive.google.com/open?id=0B1ZpnsXJZDXCNUw3OThnRkdUZms").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a(href="http://cryptorials.io/bitcoin-wallets-explained-how-to-choose-the-best-wallet-for-you/").
              Bitcoin Wallets Explained
          li
            a(href="https://bitcoinmagazine.com/articles/multisig-future-bitcoin-1394686504").
              Bitcoin Multisig Wallet: The Future of Bitcoin
          li
            a(href="https://www.cryptocompare.com/wallets/guides/what-is-a-bitcoin-hardware-wallet/").
              What is a Bitcoin Hardware Wallet?
          li
            | (Optional) 
            a(href="https://www.cryptocoinsnews.com/get-custom-bitcoin-address/").
              Vanity Bitcoin Addresses
      div.four.columns
        p ---

    div.row.odd
      div.one.columns
        p 9/19
      div.three.columns
        p Cryptography and Blockchain
          br
          | [
          a(href="https://www.youtube.com/watch?v=66-QNxvnJtY").
            LEC, 
          a(href="https://drive.google.com/open?id=1pNi0wjqnfuhMQ97o24qRUdJ-t631YpbPG3o2RbZeXBc").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a(href="https://d28rh4a8wq0iu5.cloudfront.net/bitcointech/readings/princeton_bitcoin_book.pdf?a=1").
              Princeton Textbook Sections 5.1, 5.2, 5.3
      div.four.columns
        p
          a(href="https://docs.google.com/forms/d/e/1FAIpQLSdLaSqu41cWIviYiBTsfSu1d-rKankKH6qb6o3QRlD7jj00Jg/viewform").
            Take-home Quiz

    div.row
      div.one.columns
        p 9/26
      div.three.columns
        p Cryptocurrency Mining: Proof-of-Work Consensus
          br
          | [
          a(href="https://www.youtube.com/watch?v=38y0c5-MqTU").

            LEC, 
          a(href="https://drive.google.com/open?id=1B5Wysy9J-IdKToPKcJ0sh1tdXFJTMoKpZTCGZEwb8i0").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a(href="https://www.stellar.org/stories/adventures-in-galactic-consensus-chapter-1/").
              Adventures in Galactic Consensus (Comic Introduction)
          li
            a(href="https://medium.com/a-stellar-journey/on-worldwide-consensus-359e9eb3e949#.cfybruaz4").
              On Worldwide Consensus: a summary of the Stellar Consensus Protocol white paper
          li
            a(href="https://blog.ethereum.org/2015/08/07/on-public-and-private-blockchains/").
              On Public and Private Blockchains
          li
            a(href="https://eprint.iacr.org/2016/889.pdf").
              (Optional) A Provably Secure Proof-of-Stake Blockchain Protocol
      div.four.columns
        p ---

    div.row.odd
      div.one.columns
        p 10/3
      div.three.columns
        p Blockchain for Banks: Permissioned Ledgers and Alternative Consensus
          br
          | [
          a(href="https://www.youtube.com/watch?v=qKSjhl2jdfU").
            LEC, 
          a(href="https://drive.google.com/open?id=19exeVP7vFJmnNxpGbvLX0F6ytJQm6we0fUPmp0g4GZ8").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            | Princeton Chapter 5.4 - "Mining Pools"
          li
            | Princeton Chapter 5.5 - "Mining Incentives and Strategies"
          li
            a(href="https://arxiv.org/pdf/1311.0243v5.pdf").
              (Optional) Paper: "Majority is not enough: Bitcoin mining is vulnerable"
          li
            a(href="https://blog.ethereum.org/2014/07/05/stake/").
              (Optional) On Stake
          li
            a(href="https://blog.ethereum.org/2014/07/05/stake/").
              (Optional) Proof of Stake: How I Learned to Love Weak Subjectivity
      div.four.columns
        p
          a(href="https://goo.gl/zAMNoI").
            Take-home Quiz (Google is your friend)

    div.row
      div.one.columns
        p 10/10
      div.three.columns
        p Game Theory and Attacks
        | [
        a(href="https://docs.google.com/presentation/d/17luWbjTiLfc-pV8WSTfsP6WoLjPBBO_h-DxJ2Ya0l7I/edit?usp=sharing").
          PPT
        | ]
      div.four.columns
        ul.readings
          li
            a(href="https://github.com/ethereum/wiki/wiki/White-Paper").
              The Ethereum White Paper - "Ethereum", "Miscellanea and Concerns" (just "Fees" and "Computation"), "Conclusion"
          li
            | (Optional) "Scripting" and the rest of "Miscellanea and Concerns"
      div.four.columns
        p ---

    div.row.odd
      div.one.columns
        p 10/17
      div.three.columns
        p Ethereum and Smart Contracts
          br
          | [
          a(href="https://www.youtube.com/watch?v=pHPxABGVW-8").
            LEC,
          a(href="https://drive.google.com/open?id=1BJditN92MSwLYnheT3kU52CyZO2gXwUKH42gAtdjYt8").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a(href="https://www.wikiwand.com/en/Know_your_customer").
              (Wiki) Know Your Customer
          li
            a(href="https://www.wikiwand.com/en/BitLicense").
              (Wiki) BitLicense
          li
            a(href="http://www.coindesk.com/bitlicense-2-0-latest-revisions-mean-bitcoin-businesses/").
              (Article) BitLicense 2.0
          li
            a(href="http://www.coindesk.com/making-sense-block-size-debate-bitcoin/").
              (Article) Overview of the Blocksize Debate:
          li
            a(href="https://medium.com/@AroundTheBlock_/a-current-list-of-use-cases-for-ethereum-b8caa5807553#.2epaf2jud").
              (Optional) A current list of use cases for Ethereum (Medium article)
          li
            a(href="https://eprint.iacr.org/2015/702.pdf").
              (Optional) Demystifying Incentives in the Consensus Computer
      div.four.columns
        p
          a(href="https://goo.gl/7K7chz").
            Half page paper on smart contract/dapp use case

    div.row
      div.one.columns
        p 10/24
      div.three.columns
        p Bitcoin Community and Regulation
          br
          | [
          a(href="https://youtu.be/vqGkPPdvmlc").
            LEC,
          a(href="https://docs.google.com/presentation/d/19EAyORvc-6NCJJgmvUK1Ofd9vHxD6PZE75yZXaOZLkg/").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a(href="https://d28rh4a8wq0iu5.cloudfront.net/bitcointech/readings/princeton_bitcoin_book.pdf?a=1").
              Princeton Textbook Sections 6.1, 6.2, 6.3
          li
            a(href="https://blog.cryptographyengineering.com/2014/11/27/zero-knowledge-proofs-illustrated-primer/").
              (Optional) Zero Knowledge Proofs: An Illustrated Primer
          li
            a(href="https://eprint.iacr.org/2015/702.pdf").
              (Optional) Demystifying Incentives in the Consensus Computer
      div.four.columns
        p
          a(href="https://goo.gl/forms/cWOwoYFONJKVo3cO2").
            Take-home Quiz

    div.row.odd
      div.one.columns
        p 10/31
      div.three.columns
        p The Fight for Privacy: Anonymization Techniques, Protocols, and Altcoins
          br
          | [
          a(href="https://www.youtube.com/watch?v=64FDZy42DnM").
            LEC,
          a(href="https://drive.google.com/open?id=1uZuqt5gbP-wPdD_JjkJ8dPJQmf4T92yVLDLG_eE_NIw").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a(href="https://lightning.network/lightning-network-summary.pdf").
              Lightning Network Summary
          li
            a(href="https://www.youtube.com/watch?v=wIhAmTqXhZQ").
              Lightning Network Talk at Coinbase (Video 50min)
          li
            a(href="https://scalingbitcoin.org/papers/mimblewimble.txt").
              (Optional) Mimblewimble
          li
            a(href="http://www.martinhenze.de/wp-content/papercite-data/pdf/zmh+16.pdf").
              (Optional) CoinParty Paper
      div.four.columns
        p
          a(href="https://docs.google.com/forms/d/e/1FAIpQLScErl44kF5qCEnm_dVpHU053ZSs6OyOwPFlyJiRaBHZX5wCuA/viewform").
            Take-home Quiz

    div.row
      div.one.columns
        p 11/7
      div.three.columns
        p Scaling Bitcoin: Cryptocurrencies for the Masses
          br
          | [
          a(href="https://www.youtube.com/watch?v=yN1h1k3GWm8").
            LEC,
          a(href="https://docs.google.com/presentation/d/19EAyORvc-6NCJJgmvUK1Ofd9vHxD6PZE75yZXaOZLkg/").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a("https://z.cash/blog/bolt-private-payment-channels.html").
              Private Payment Channels
          li
            a(href="http://augur.strikingly.com/blog/a-decentralized-lie-detector").
              A Decentralized Lie Detector
          li
            a(href="https://lists.linuxfoundation.org/pipermail/lightning-dev/2015-December/000384.html").
              (Optional) Lightning Network Onion Routing
          li
            a(href="https://people.xiph.org/~greg/confidential_values.txt").
              (Optional) Confidential values
      div.four.columns
        p ---

    div.row.odd
      div.one.columns
        p 11/14
      div.three.columns
        p Advanced Topics in Cryptocurrencies
          br
          | [
          | LEC,
          a(href="https://drive.google.com/open?id=1Q8tA8ttb5gOCPX4nM28vJCqs7lfrRXf8bwdYvEUp0p8").
            PPT
          | ]
      div.four.columns
        ul.readings
          li
            a("https://petertodd.org/2016/cypherpunk-desert-bus-zcash-trusted-setup-ceremony").
              (Optional) "Cypherpunk Desert Bus: My Role In The 2016 Zcash Trusted Setup Ceremony" by Peter Todd
          li
            a(href="https://en.bitcoin.it/wiki/User:Gmaxwell/alt_ideas").
              (Optional) (Crypto-heavy) Interesting ideas in blockchain by Greg Maxwell
      div.four.columns
        p Fill out 
          a(href="https://goo.gl/forms/ozPePT4QinkGYP0p2").
            course feedback form.
          Please do future students a huge favor and take the time to write a high quality critique of our course!
    div.row
      div.one.columns
        p 11/21
      div.three.columns
        p Conclusion: Venture Capital, Cool Ideas, and the Future
      div.four.columns
        p --- 
      div.four.columns
        p ---

div.signup
  .container
      p <h5> <font color='white'> Interested? <strike>Click <strong>here</strong> to sign up now!</strike> Our waitlist is full; Please apply again next semester! </font></h5>
      
