---
title: 'Index'
date: '2015/22/5'
template: 'index.jade'
active: 'index'
---

div.ticker
  div.container
    div.row
      | Latest News: Come to our 
      a(href="https://www.facebook.com/events/809182689209393/")
        | Project Meeting (2/19)
      | !
div.splash
  div.container
    div.row
      h3 We bring cryptocurrencies to the East Bay.
      div.seven.columns.blurb
        p We're a student-run crypto organization at UC Berkeley dedicated to serving the Berkeley and greater East Bay crypto communities. Our members include Berkeley students, alumni, community members, and Bitcoiners from all educational and industrial backgrounds.
div.mission
  div.container.content
    h4 Our Goals
    div.row
      div.four.columns
        h5 Education
        p The Bitcoin Association of Berkeley strives to be the de facto hub of cryptocurrency related activity in the East Bay, and takes a strong initiative to educate people about Bitcoin, the blockchain, and their implications from economic, technological, and financial perspectives. We run workshops for people new to Bitcoin development, organize education-oriented tech talks, and will be teaching a Bitcoin Decal in the Fall. These activities coalesce at our general meetings, during which we discuss recent industry, technological, and economic developments. 
      div.four.columns
        h5 Innovation
        p As an organization, we hope to foster cryptocurrency-related innovation in the East Bay. Our gatherings in the D Lab of Barrows Hall are a unique place where enterprising individuals can seek guidance and support for their projects. Every year, the Bitcoin Association of Berkeley puts on Bay Bithack, known to be the first and largest collegiate blockchain hackathon in the world, where collegiate hackers from all over the Bay Area help revolutionize the way we think about money and decentralized systems. We also contribute to the cryptocurrency ecosystem ourselves by developing open-source projects together as a club.
      div.four.columns
        h5 Community
        p We are a collection of self-accomplished individuals all involved with Bitcoin in some way, both technical and nontechnical, and tout the best professional connections to Bitcoin industry that any UC Berkeley student organization can offer. Perhaps the most important feature of the Bitcoin Association of Berkeley is that we’re a tight-knit group of friends, and connect on a level much deeper than simply our shared interest in cryptocurrency. As examples of this, we go to dinner after every Tuesday meeting, and periodically host our own socials.

div.signup
  .container
    div.six.columns.offset-by-three.signup-form
      form(action="//berkeley.us3.list-manage.com/subscribe/post?u=c0ffa9a0309e0b11980715d0f&amp;id=8ca55089db", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form" class="validate", target="_blank", novalidate)
        #mc_embed_signup_scroll
          h5 Interested? Let us keep you posted.
          input(type="email", value="", name="EMAIL", class="email", id="mce-EMAIL", placeholder="email address", required, style="width: 75%")
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_c0ffa9a0309e0b11980715d0f_8ca55089db', tabindex='-1', value='')
          .clear
            input#mc-embedded-subscribe.button-primary(type='submit', value='Subscribe', name='subscribe')

