---
title: 'Decal'
date: '2016/20/8'
template: 'decal.jade'
active: 'decal'
---

div.ticker
  div.container
    div.row
      | Join our Slack! berkeleyblockchain.slack.com 

div.projects
  div.container.content
    h4 Projects
    p
      strong Dmix research project: 
      | 1 Attempted to design and implement a decentralized, trustless Bitcoin mixing protocol that maintains plausible deniability and doesn't require high fees to be Sybil-resistant.
      br
      br 

      strong Ether on a Stick: 
      | Hackathon project implementing a dominant assurance contract on Ethereum. Won $1000 prize at TreeHacks. 
      br 
      a(href="https://github.com/phlip9/ether-on-a-stick") Github  
      br 
      br

      strong BlockChange: 
      | Hackathon project implementing a Social Impact Bond on Ethereum. Won $1000 prize at Cal Hacks. 
      br
      a(href="https://github.com/MaxFangX/BlockChange") Github 
      br
      br

      strong Other: 
      | Back when we were known as the Bitcoin Association of Berkeley, we hosted the world's first and largest intercollegiate bitcoin/blockchain hackathon. Our grand prize winner, Xendit, went on receive funding from YCombinator. The hackathon also included projects like blockchain-based voting, taint-analysis, sending/receiving Bitcoin over SMS, and a Bitcoin-payable coffee machine. 
      br
      br
      br