---
title: 'Resources'
date: '2016/20/8'
template: 'resources.jade'
active: 'resources'
---

div.ticker
  div.container
    div.row
      | Join our Slack! berkeleyblockchain.slack.com 
      
div.mission
  div.container.content
    h4 Coming Soon!