doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title
      block title
        = locals.name
    link(rel='stylesheey', href=contents.css['normalize.css'].url)
    link(rel='stylesheet', href=contents.css['skeleton.css'].url)
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700')
    link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href=contents.css['main.css'].url)
    block head
      
  body
    header.header
      nav.navbar
        div.container 
          a(href='/', class=(page.metadata.active==='index' ? "active" : "")).logo Bitcoin Association of Berkeley
//          ul.navbar-items
//            li.navbar-item
//              a(href='/news/', class=(page.metadata.active==='news' ? "active" : "")) News
//            li.navbar-item 
//              a(href='/projects/', class=(page.metadata.active==='projects' ? "active" : "")) Projects
//            li.navbar-item 
//              a(href='/events/', class=(page.metadata.active==='events' ? "active" : "")) Events
    div.main
      block content
        
    div.footer
      div.container
        div.row
          div.four.columns
            strong In partnership with
            img(src="/img/ccn_logo.png", style="width:240px;")
            br
            br
            a(href="https://www.ocf.berkeley.edu")
              img(src="https://www.ocf.berkeley.edu/images/hosted-logos/ocfbadge_mini8.png", alt="Hosted by the OCF", width="98", height="39", style="border:0")
          div.four.columns
            strong Contact
            p
              a(href="https://www.facebook.com/berkeleybitcoin")
                i(class="fa fa-facebook-official")
                |  Facebook
              br
              a(href="https://twitter.com/berkeleybitcoin")
                i(class="fa fa-twitter") 
                |  Twitter
            | Email
            br
            a(href="mailto:admin@bitcoin.berkeley.edu") The Team
            br
            a(href="mailto:david@bitcoin.berkeley.edu") Webmaster
            br
          
          div.four.columns
            strong Location
            p 356 Barrows Hall
              br
              | Tuesdays 7-9pm
              br
              | Check our Facebook page
              br
              | for meeting times!
        br
        div.row
          p#footer-text Bitcoin Association of Berkeley, 2015. Created by David Nguyen
      block footer